<%= simple_form_for [@theater, @venue], :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= I18n.t(:edit) %> <%= Venue.model_name.human %></legend>

    <%= f.association :theater, :selected => @theater, :disabled => true %>
    <%= f.input :name %>
    <%= f.input :city %>
    <%= f.input :address %>
    <%= f.input :phone %>

    <div class="form-actions">
      <%= f.button :submit, :class => 'btn btn-primary' %>
      <%= link_to :cancel, theater_venues_path(@theater), :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
