<p>
  <b><%= Venue.human_attribute_name(:name) %></b>
  <%= venue.name %>
</p>

<p>
  <b><%= Venue.human_attribute_name(:city) %></b>
  <%= venue.city %>
</p>

<p>
  <b><%= Venue.human_attribute_name(:address) %></b>
  <%= venue.address %>
</p>

<p>
  <b><%= Venue.human_attribute_name(:phone) %></b>
  <%= venue.phone %>
</p>

<div>
<%= link_to I18n.t(:edit), edit_theater_venue_path(@theater, venue) %> | <%= link_to I18n.t(:delete), theater_venue_path(@theater, venue), method: :delete, confirm: I18n.t(:venue_delete_confirm) %>
</div><br />
