<%= simple_nested_form_for @theater, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Theater</legend>

    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :website %>
    <%= f.input :email %>

    <fieldset>
      <h3>Venues</h3>
    <%= f.fields_for :venues %>
    <p><%= f.link_to_add "Add a venue", :venues %></p>
    </fieldset>
    <div class="form-actions">
      <%= f.button :submit, :class => 'btn btn-primary' %>
      <%= link_to :cancel, theaters_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
