<%= simple_nested_form_for @theater, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= I18n.t(:create) %> <%= Theater.model_name.human %></legend>

    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :website %>
    <%= f.input :email %>

    <fieldset>
      <h3><%= Theater.human_attribute_name(:venues) %></h3>
      <%= f.fields_for :venues %>
      <p><%= f.link_to_add I18n.t(:add_venue), :venues %></p>
    </fieldset>
    <div class="form-actions">
      <%= f.button :submit, :class => 'btn btn-primary' %>
      <%= link_to(I18n.t(:cancel), theaters_path, :class => 'btn') %>
    </div>
  </fieldset>
<% end %>
