<h1>Theater</h1>

<p>
  <b>Name</b><br>
  <%= @theater.name %>
</p>

<p>
  <b>Description</b><br>
  <%= @theater.description %>
</p>

<p>
  <b>Website</b><br>
  <%= @theater.website %>
</p>

<p>
  <b>Email</b><br>
  <%= @theater.email %>
</p>

<h3>Venues</h3>
<p>
  <%= render :partial => @theater.venues %>
</p>

<p>
  <b>More</b><br>
  <%= link_to "Acts", theater_acts_path(@theater) %>
</p>

<div class="form-actions">
  <%= link_to 'Back', theaters_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_theater_path(@theater), :class => 'btn' %>
  <%= link_to 'Delete', theater_path(@theater), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
