<p>
  <b>Name:</b>
  <%= @theater.name %>
</p>

<p>
  <b>Description:</b>
  <%= @theater.description %>
</p>

<p>
  <b>Website:</b>
  <%= @theater.website %>
</p>

<p>
  <b>Email:</b>
  <%= @theater.email %>
</p>

<%= link_to 'Edit', edit_theater_path(@theater) %> |
<%= link_to 'Back', theaters_path %>

<h1> My venues </h1>
<%= render @venues %>
<%= link_to 'Crear nueva sede', new_theater_venue_path(@theater) %>
