<h1>Theater</h1>

<p>
  <b><%= Theater.human_attribute_name(:name) %></b><br>
  <%= @theater.name %>
</p>

<p>
  <b><%= Theater.human_attribute_name(:description) %></b><br>
  <%= @theater.description %>
</p>

<p>
  <b><%= Theater.human_attribute_name(:website) %></b><br>
  <%= @theater.website %>
</p>

<p>
  <b><%= Theater.human_attribute_name(:email) %></b><br>
  <%= @theater.email %>
</p>

<h3><%= Theater.human_attribute_name(:venues) %></h3>
<p>
  <%= render :partial => @theater.venues %>
</p>

<p>
  <%= link_to Theater.human_attribute_name(:acts), theater_acts_path(@theater) %>
</p>

<div class="form-actions">
  <%= link_to I18n.t(:back), theaters_path, :class => 'btn'  %>
  <%= link_to I18n.t(:edit), edit_theater_path(@theater), :class => 'btn' %>
  <%= link_to I18n.t(:delete), theater_path(@theater), :method => 'delete', :confirm => I18n.t(:theater_delete_confirm), :class => 'btn btn-danger' %>
</div>
