<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Teatro en Medellín</title>
    <%= csrf_meta_tags %>
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- Le styles -->
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application", :media => "all" %>
    
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href=" /ico/favicon.ico">
    <link rel="apple-touch-icon" href="/ico/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/ico/apple-touch-icon-114x114.png">
  </head>
  
  <body>
    
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        
        <div class="stripes"></div>  
        
        <div class="container">
          
          <div class="brand">
            
            <img src="../../assets/logo.png" alt="Logo Teatro en Medellín"/>
            <h1>Teatro en Medellín</h1>
            <div class="pull-right">
              <div class="nav-collapse">
                <ul class="nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#about">Obras</a></li>
                  <li><a href="#contact">Teatros</a></li>
                  <li><a href="#contact">Noticias</a></li>
                  <li><a href="#contact">Contacto</a></li>
                  <% if logged_in? %>
                    <li><%= link_to "Logout", logout_path %></li>
                  <% end %>
                </ul>
              </div>
            </div><!--/.nav-inner -->				
          </div><!--/.nav-collapse -->
        </div>
      </div>
      <% if current_user %>
        <h6>Hey <%= "#{current_user.email}" %>!, remember you're logged as administrator.</h6>
      <% end %>
    </div>
    
    <div style="background:#FAF7EE">
      <div class="container">
        
        <!-- Example row of columns -->
        
        <div class="row">
          <%= render partial: "shared/flash_messages", flash: flash %> 
          <%= yield %>
        </div>
        
      </div> <!-- /container -->
    </div>    
    
    <footer>
      
      <div>
        <p>&copy; 2012 Teatro en Medellín, todos los derechos reservados.</p>
      </div>
    </footer>
    
    <!-- Le javascript
         ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
  </body>
</html>
