<h1>Acts</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @acts.each do |act| %>
      <tr>
        <td><%= act.id %></td>
        <td><%= link_to act.name, act_path(act) %></td>
        <td><%= act.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_act_path(act), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', act_path(act), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_act_path, :class => 'btn btn-primary' %>
