<p>
  <b>Name</b><br>
  <%= @act.name %>
</p>

<p>
  <b>Description</b><br>
  <%= @act.description %>
</p>

<p>
  <b>Clasification</b><br>
  <%= @act.clasification %>
</p>

<p>
  <b>Price</b><br>
  <%= @act.price %>
</p>

<div class="form-actions">
  <%= link_to 'Back', theater_acts_path(@theater), :class => 'btn'  %>
  <%= link_to 'Edit', edit_theater_act_path(@theater, @act), :class => 'btn' %>
  <%= link_to 'Delete', theater_act_path(@theater, @act), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
